### Objective for the week: 

This is a stand-in to ensure that we can take in data from our established database, and can output all the labels. 

Also attempt to join tables in Pandas.

In [7]:
import sqlite3
import pandas as pd
import path

In [2]:
#connect to database
path = "model/db/HeartDiseaseByCounty.db"
cnx = sqlite3.connect(path)
# df = pd.read_sql_query("SELECT * FROM table_name", cnx)

In [3]:
#Read from one of the tables in the database
df_features = pd.read_sql_query("SELECT * FROM Features_State_Counties", cnx)

In [4]:
df_features.head()

,State_Name,County,Percent_Fair_or_Poor_Health,Average_Number_of_Physically_Unhealthy_Days,Average_Number_of_Mentally_Unhealthy_Days,Percent_Smokers,Percent_Adults_with_Obesity,Food_Environment_Index,Percent_Physically_Inactive,Percent_With_Access_to_Exercise_Opportunities,...,Social_Association_Rate,Violent_Crime_Rate,Polution_Average_Daily_PM2.5,Presence_of_Water_Violation,Percent_Severe_Housing_Problems,Percent_Drive_Alone_to_Work,Percent_Long_Commute,Percent_Adults_with_Diabetes,Percent_Limited_Access_to_Healthy_Foods,Median_Household_Income
0,Alabama,Autauga,21,4.7,4.7,18,33,7.2,35,69,...,12.1,272,11.7,0,15,87,40,11,12,59338
1,Alabama,Baldwin,18,4.2,4.3,17,31,8.0,27,74,...,10.2,204,10.3,0,14,84,42,11,5,57588
2,Alabama,Barbour,30,5.4,5.2,22,42,5.6,24,53,...,7.5,414,11.5,0,15,83,32,18,11,34382
3,Alabama,Bibb,19,4.6,4.6,19,38,7.8,34,16,...,8.4,89,11.2,0,10,85,50,15,3,46064
4,Alabama,Blount,22,4.9,4.9,19,34,8.4,30,16,...,8.4,483,11.7,0,11,86,59,17,3,50412

In [5]:
df_features.columns.tolist()

['State_Name',
 'County',
 'Percent_Fair_or_Poor_Health',
 'Average_Number_of_Physically_Unhealthy_Days',
 'Average_Number_of_Mentally_Unhealthy_Days',
 'Percent_Smokers',
 'Percent_Adults_with_Obesity',
 'Food_Environment_Index',
 'Percent_Physically_Inactive',
 'Percent_With_Access_to_Exercise_Opportunities',
 'Percent_Excessive_Drinking',
 'Percent_Uninsured',
 'Primary_Care_Physicians_Rate',
 'Dentist_Rate',
 'Mental_Health_Provider_Rate',
 'Preventable_Hospitalization_Rate',
 'Percent_Vaccinated',
 'High_School_Graduation_Rate',
 'Percent_Some_College',
 'Percent_Unemployed',
 'Percent_Single_Parent_Households',
 'Social_Association_Rate',
 'Violent_Crime_Rate',
 'Polution_Average_Daily_PM2.5',
 'Presence_of_Water_Violation',
 'Percent_Severe_Housing_Problems',
 'Percent_Drive_Alone_to_Work',
 'Percent_Long_Commute',
 'Percent_Adults_with_Diabetes',
 'Percent_Limited_Access_to_Healthy_Foods',
 'Median_Household_Income']

In [6]:
merged_table = pd.read_sql_query("SELECT fsc.*, hdmsc.Rate, hdmsc.Level, psc.PopEst FROM Heart_Disease_Mortality_State_Counties hdmsc INNER JOIN State s ON s.Code = hdmsc.State_Code INNER JOIN (Features_State_Counties fsc, Population_State_Counties psc) ON (fsc.State_Name = s.Name AND psc.State_Code = s.Code) WHERE hdmsc.County = fsc.County AND fsc.County = psc.County", cnx)

merged_table.head()

,State_Name,County,Percent_Fair_or_Poor_Health,Average_Number_of_Physically_Unhealthy_Days,Average_Number_of_Mentally_Unhealthy_Days,Percent_Smokers,Percent_Adults_with_Obesity,Food_Environment_Index,Percent_Physically_Inactive,Percent_With_Access_to_Exercise_Opportunities,...,Presence_of_Water_Violation,Percent_Severe_Housing_Problems,Percent_Drive_Alone_to_Work,Percent_Long_Commute,Percent_Adults_with_Diabetes,Percent_Limited_Access_to_Healthy_Foods,Median_Household_Income,Rate,Level,PopEst
0,Alaska,Aleutians East,17,3.4,2.8,17,51,5.3,30,100,...,1,13,26,0,13,35,70081,165.000000,1,"3,337"
1,Alaska,Aleutians West,15,3.0,2.5,15,44,7.6,30,100,...,1,19,48,1,10,9,82633,261.800000,1,"5,634"
2,Alaska,Anchorage,15,3.5,3.2,15,32,8.0,18,100,...,1,16,76,14,8,5,82113,261.733333,1,"288,000"
3,Alaska,Bethel,24,5.4,4.6,30,31,2.9,31,100,...,1,60,23,1,6,42,44304,321.322222,2,"18,386"
4,Alaska,Bristol Bay,15,3.7,3.6,18,42,6.9,29,100,...,0,15,59,3,15,18,77257,0.000000,1,836